import "@sophys-web/ui/styles.css";
import "./globals.css";
import type { Metadata } from "next";
import { GeistMono } from "geist/font/mono";
import { TRPCReactProvider } from "@sophys-web/api-client/react";
import { Toaster } from "@sophys-web/ui/sonner";

export const metadata: Metadata = {
  title: "{{name}}",
  description: "{{name}} scaffolded with sophys-web",
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}): JSX.Element {
  return (
    <html lang="en">
      <body className={GeistMono.className}>
        <Toaster richColors theme="light" />
        <TRPCReactProvider>{children}</TRPCReactProvider>
      </body>
    </html>
  );
}
