// import { SignInForm } from "@sophys-web/widgets"; (TODO)

export default function SignInPage() {
  return (
    <div className="flex items-center justify-center gap-6 p-24">
      <div>Replace this with your UI</div>
    </div>
  );
}
