import { Suspense } from "react";
import { signIn } from "../../actions/auth";
import { SignInForm, SignInFormSkeleton } from "./form";

export default function SignInPage() {
  return (
    <div className="flex items-center justify-center gap-6 p-24">
      <Suspense fallback={<SignInFormSkeleton />}>
        <SignInForm signInAction={signIn} />
      </Suspense>
    </div>
  );
}
